@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">FLC's Student Course Registration System</h1>
    <ul>
    <li><a asp-controller="Students" asp-action="Index">Student Enrollment</a></li>
    <li><a asp-controller="Courses" asp-action="Index">Course Enrollment</a></li>
    <li><a asp-controller="Enrollments" asp-action="Index">Enrollments</a></li>
    </ul>
</div>

